<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>NASI LEMAK</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-card-content>
  <img src="/assets/nasi lemak.jpg" width="95%" style="align-items: center">

  <p><b> Coconut Steamed Rice</b>
   <br> 2 cups of rice
   <br> 3 screwpine leaves, tie them into a knot as shown above
   <br> salt to taste
   <br> 1 can coconut milk (5.6 oz)
   <br> some water</p>
   <hr>

  <p><b>Sambal Ikan Bilis</b>
  <br> 1/2 red onion
  <br> 1 cup ikan bilis (dried anchovies)
  <br> 1 clove garlic
  <br> 4 shallots
  <br> 10 dried chillies
  <br> 1 teaspoon belacan, prawn paste
  <br> 1/4 teaspoon salt
  <br> 1 tablespoon sugar
  <br> 1 cup of water
  <br> tamarind pulp, size of a small ping pong ball
  </p><hr>

  <p>
    <b>Instructions:</b>
  </p>
  <ol start="1">
    <p><b> Coconut Steamed Rice</b></p>
    <li>Similar to how you could cook regular rice, rinse the rice and drain.</li>
    <li>Add in the coconut milk, a pinch of salt and some water.</li>
    <li>Place the pandan leaves inside and leave the coconut steamed rice to cook.</li>
  </ol>

  <ol start="1" >
    <p align="center"><b> Sambal Ikan Bilis</b></p>
    <li>Rinse the ikan bilis and drain the water. Fry until they turn light brown before setting it aside.</li>
    <li>Pound or blend the prawn paste, shallots, garlic, and deseeded dried chillies to create the sambal.</li>
    <li>Slice the red onion into rings.</li>
    <li>Meanwhile, soak the tamarind pulp in water for 15 minutes. Make sure to continually squeeze the tamarind 
      pulp to extract its juices into the water. Strain and discard the pulp, while keeping the juice.</li>
    <li>lace the sambal onto a pan and fry until it becomes fragrant. Toss in the onions and ikan bilis and mix well. 
      Next, add the tamarind juice, sugar and salt. Leave it to simmer over low heat until the sambal begins to thicken.</li>
  </ol>

  <ion-card>
    <video 
    width="100%"
    controls="controls"
    preload="metadata"
    webkit-playsinline="webkit-playsinline"
    class="videoPlayer">
      <source src="assets/nasi lemak.mp4" type="video/mp4" /></video>
  </ion-card>

</ion-card-content>
</ion-content>