<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>LAKSA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-content>
    <img src="/assets/laksa.jpg" width="95%" style="align-items: center">

    <P>PREP TIME <b> 20 minutes</b>
      <br> COOK TIME <b> 10 minutes </b>
      <br> Serves 2</P>
      <hr>

      <p><b> INGREDIENTS</b>
      <p><b> SOUP:</b>  
      <p>3 tablespoons cooking oil</p>
      <p>1/2 pack (120 g) Malaysian instant curry paste</p>
      <p>2 cups (1 can) chicken broth</p>
      <p>2 cups water</p>
      <p>2 stalks lemongrass, white part only, pounded</p>
      <p>10 tofu puffs, cut into pieces</p>
      <p>1/2 cup evaporated milk</p>
      <p>1/2 cup coconut milk</p>
      <p>salt to taste</p>
      <hr>

      <p><b>OTHER INGREDIENTS:</b> 
      <p>laksa noodles</p>
      <p>bean sprouts</p>
      <p>10 shrimp, peeled, deveined and cooked</p>
      <p>3 hard-boiled eggs, cut into halves</p>
      <p>fish cakes, cut into pieces</p>

      <ol start="1" >
        <p align="center"><b> INSTRUCTIONS</b></p>
        <li>In a stockpot, add the oil and sauté the instant curry paste until aromatic. Add the chicken broth, water,
          lemongrass, tofu puffs and bring the soup to a boil. 
          Lower the heat to simmer. Add the coconut milk and evaporated milk. Add salt to taste. Keep the stock on simmer.</li>
        <li>Rinse the laksa noodles and bean sprouts separately, drained and set aside.</li>
        <li>To assemble a bowl of laksa for serving, bring to boil some laksa noodles and a handful of bean sprouts. 
          Drain the noodles and bean sprouts and transfer to a serving bowl. Top the noodles with 2-3 shrimp, a few pieces 
          of fish cake, and some eggs. Using a ladle, pour the soup and a few pieces of tofu puffs on top of the noodles. Serve immediately.</li>
      </ol>

      <ion-card>
        <video 
        width="100%"
        controls="controls"
        preload="metadata"
        webkit-playsinline="webkit-playsinline"
        class="videoPlayer">
          <source src="assets/laksa.mp4" type="video/mp4" /></video>
      </ion-card>
    </ion-card-content>
</ion-content>
