<ion-content>
  <p class="ion-text-center">
    <img src="assets/kuptm.png" width=30%>
  </p>
  <ion-grid fixed>
    <ion-row>

      <ion-col size="12">
        <ion-button [routerLink]="['/contact']"  expand="full" fill="outline">
          <!-- <ion-icon slot="end" name="call-outline"></ion-icon> -->
          Contact
        </ion-button>
      </ion-col>
    
        <ion-col size="12">
          <ion-button [routerLink]="['/register']"  expand="full" fill="outline">
            <!-- <ion-icon slot="end" name="call-outline"></ion-icon> -->
            Register
          </ion-button>
        </ion-col>

        <ion-col size="12">
          <ion-button [routerLink]="['/product']" expand="full" fill="outline">
            <!-- <ion-icon slot="end" name="school-outline"></ion-icon> -->
            Product
          </ion-button>
        </ion-col>

        <ion-col size="12">
          <ion-button [routerLink]="['/']" expand="full" fill="outline">
            <!-- <ion-icon slot="end" name="school-outline"></ion-icon> -->
            Purchase
          </ion-button>
        </ion-col>

        <ion-col size="12">
          <ion-button [routerLink]="['/view-post']" expand="full" fill="outline">
            <!-- <ion-icon slot="end" name="school-outline"></ion-icon> -->
            View Post
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-content>