<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Description</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card-content>
  <video 
  width="100%"
  controls="controls"
  preload="metadata"
  webkit-playsinline="webkit-playsinline"
  class="videoPlayer">
    <source src="assets/about.mp4" type="video/mp4" /></video>
          <p>You will learn different food culture and culinary skills in our Cooking Course. 
            We provide you with recipes from home cooking to fine dining. 
           <br> Let’s try them all to become a perfect chef!</p>
        </ion-card-content>
</ion-content>
